Repository cometkim/cometjs: changes, and which Codecov flags are due for each by the changed paths.
All: core, graphql-utils, jest-utils

fix test integration
  .github/workflows/integration.yml
  .pnp.js
  .taprc
  package.json
  packages/jest-utils/jest.config.json
  tsconfig.json
  yarn.lock
Due: jest-utils

react-utils: prepare v1
  .pnp.js
  .yarn/cache/@types-react-dom-npm-17.0.0-c3b70f60e6-7ca9351b6c.zip
  .yarn/cache/@types-react-npm-17.0.0-d4f5adb6f0-dcef2034b8.zip
  .yarn/cache/@types-react-test-renderer-npm-17.0.0-bda0bc48c1-4931f75cfd.zip
  .yarn/cache/@types-resolve-npm-0.0.8-191de904ac-f54f13e4b6.zip
  .yarn/cache/core-js-npm-3.8.2-9054e52bf1-8fa2c580b7.zip
  .yarn/cache/react-dom-npm-17.0.1-588d0088ca-6a70028fbe.zip
  .yarn/cache/react-error-boundary-npm-3.1.0-a06f6e8361-0df44cd3ac.zip
  .yarn/cache/react-npm-17.0.1-98658812fc-a76d86ec97.zip
  .yarn/cache/react-shallow-renderer-npm-16.14.1-b8a4f845ff-d52cb869e2.zip
  .yarn/cache/react-test-renderer-npm-17.0.1-21555db1f4-6ec269430b.zip
  .yarn/cache/rollup-plugin-babel-npm-4.4.0-930e240ec3-9f82719d15.zip
  .yarn/cache/rollup-plugin-node-resolve-npm-5.2.0-6af239ea59-f20dd3e666.zip
  .yarn/cache/rollup-plugin-sourcemaps-npm-0.6.3-4354b09f5e-73e8d02fa8.zip
  .yarn/cache/scheduler-npm-0.20.1-db303b7f5c-377b4ad0d8.zip
  .yarn/cache/source-map-resolve-npm-0.6.0-6e67c9e55f-9bbd265693.zip
  .yarn/versions/fde62770.yml
  packages/react-utils/.eslintignore
  packages/react-utils/.eslintrc.json
  packages/react-utils/babel.config.js
  packages/react-utils/package.json
  packages/react-utils/rollup.config.js
  packages/react-utils/src/cache.test.tsx
  packages/react-utils/src/cache.ts
  packages/react-utils/src/common.ts
  packages/react-utils/src/index.ts
  packages/react-utils/src/intrinsic.ts
  packages/react-utils/src/rendering.ts
  packages/react-utils/tsconfig.json
  yarn.lock
Due: none

upgrade workspace-tools
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
Due: none

feat(eslint-plugin): customize a rule
  .yarn/versions/fde62770.yml
  packages/eslint-plugin/.eslintrc.json
  packages/eslint-plugin/configs/base.js
  packages/eslint-plugin/configs/typescript.js
Due: none

fix ci
  .github/workflows/integration.yml
Due: none

chore: add react-utils config for codecov
  codecov.yml
Due: none

chore: configure ignore list for local
  packages/core/.eslintignore
  packages/graphql-utils/.eslintignore
Due: core, graphql-utils

apollo-client-utils v1
  .pnp.js
  .yarn/cache/@apollo-client-npm-3.3.6-a3b2ca6648-cf04e98317.zip
  .yarn/cache/@apollo-client-npm-3.3.7-55a3f3f675-eb06152f3e.zip
  .yarn/cache/@sinonjs-samsam-npm-5.3.1-deedfea087-0277cd0b71.zip
  .yarn/cache/@sinonjs-text-encoding-npm-0.7.1-865b0079b5-fbc2abff23.zip
  .yarn/cache/@types-react-npm-17.0.1-d29bd2301b-5b490728c5.zip
  .yarn/cache/@types-sinon-npm-9.0.10-d93c864a32-dfa431fe83.zip
  .yarn/cache/@types-sinonjs__fake-timers-npm-6.0.2-aa66b2ff89-1dd1b39190.zip
  .yarn/cache/@types-tap-npm-14.10.2-4507455680-c06570bca8.zip
  .yarn/cache/@wry-trie-npm-0.2.1-e7076f9c2c-bca4e43a6e.zip
  .yarn/cache/graphql-npm-15.5.0-65986c56be-789cdcb069.zip
  .yarn/cache/isarray-npm-0.0.1-92e37e0a70-daeda3c236.zip
  .yarn/cache/just-extend-npm-4.1.1-bc220a8db4-9dec0ba527.zip
  .yarn/cache/lodash.get-npm-4.4.2-7bda64ed87-447e575e3c.zip
  .yarn/cache/nise-npm-4.0.4-d48e10553a-5ead54f4f3.zip
  .yarn/cache/optimism-npm-0.13.2-dfc096dbe5-1a37293983.zip
  .yarn/cache/optimism-npm-0.14.0-be32a10bbf-43223bb26e.zip
  .yarn/cache/path-to-regexp-npm-1.8.0-a1904f5c44-4c0d9aaf3f.zip
  .yarn/cache/sinon-npm-9.2.4-3c6e379b87-c285c3750a.zip
  .yarn/versions/fde62770.yml
  README.md
  codecov.yml
  packages/apollo-client-utils/README.md
  packages/apollo-client-utils/__tests__/lazyQuery.test.tsx
  packages/apollo-client-utils/__tests__/query.test.tsx
  packages/apollo-client-utils/babel.config.js
  packages/apollo-client-utils/package.json
  packages/apollo-client-utils/src/index.ts
  packages/apollo-client-utils/src/lazyQuery.ts
  packages/apollo-client-utils/src/query.ts
  packages/apollo-client-utils/src/result.ts
  packages/apollo-client-utils/tsconfig.json
  yarn.lock
Due: none

modify release strategy
  .yarn/versions/fde62770.yml
Due: none

fix package manifest
  packages/core/package.json
  packages/urql-utils/package.json
Due: core

remove custom babel transform from bundle
  .pnp.js
  .yarn/cache/core-js-npm-3.10.0-2088bcb2de-d8bb20f7da.zip
  .yarn/cache/graphql-npm-14.7.0-5e981fc8a0-3b7d50f98f.zip
  .yarn/cache/iterall-npm-1.3.0-a2cb04809f-25ae2d07cf.zip
  packages/urql-utils/babel.config.js
  packages/urql-utils/jest.config.ts
  packages/urql-utils/package.json
  yarn.lock
Due: none

jest-utils
  .pnp.js
  .yarn/cache/@babel-helper-define-polyfill-provider-npm-0.1.5-ff755c533f-41a3bf1b01.zip
  .yarn/cache/@babel-plugin-proposal-async-generator-functions-npm-7.13.8-416f5ed0a2-56610a31dc.zip
  .yarn/cache/@babel-plugin-transform-regenerator-npm-7.12.13-ec9a4c2315-4ee616942c.zip
  .yarn/cache/@babel-preset-env-npm-7.13.12-791831e72a-e86ef0d986.zip
  .yarn/cache/babel-plugin-polyfill-corejs2-npm-0.1.10-6940505923-b11a01d9d3.zip
  .yarn/cache/babel-plugin-polyfill-corejs3-npm-0.1.7-692d54a09c-d6f94262fb.zip
  .yarn/cache/babel-plugin-polyfill-regenerator-npm-0.1.6-8187ee34ef-49b98a1901.zip
  package.json
  packages/jest-utils/__tests__/mock.test.ts
  packages/jest-utils/jest.config.ts
  packages/jest-utils/package.json
  packages/jest-utils/src/mock.ts
  yarn.lock
Due: jest-utils

cleanup
  .pnp.js
  .yarn/cache/@types-tap-npm-14.10.1-c78a3afc8a-b87c19ed2c.zip
  codecov.yml
  jest.config.base.ts
  packages/apollo-client-utils/__tests__/result3.test.tsx
  packages/apollo-client-utils/package.json
  packages/core/__tests__/common.test.ts
  packages/core/__tests__/commont.test.ts
  packages/core/__tests__/condition.test.ts
  packages/core/__tests__/option.test.ts
  packages/core/jest.config.ts
  packages/core/package.json
  packages/core/src/common.ts
  packages/core/src/condition.ts
  packages/graphql-utils/__tests__/abstract.test.ts
  packages/graphql-utils/jest.config.ts
  packages/graphql-utils/package.json
  packages/react-utils/__tests__/cache.test.tsx
  packages/react-utils/__tests__/rendering.test.tsx
  packages/react-utils/jest.config.ts
  packages/react-utils/package.json
  yarn.lock
Due: core, graphql-utils

fill empty envvar
  .github/workflows/integration.yml
Due: none

prepare releases
  .yarn/versions/ec262f15.yml
Due: none

publish rc versions
  packages/apollo-client-utils/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/graphql-utils/package.json
  packages/jest-utils/package.json
  packages/react-utils/package.json
  packages/urql-utils/package.json
Due: core, graphql-utils, jest-utils

change default to main
  .yarnrc.yml
Due: none

add missing accessConfig in package manifest
  packages/core/package.json
  packages/jest-utils/package.json
  packages/urql-utils/package.json
Due: core, jest-utils

rename Option.fromThrowable to Option.ofUnsafe
  packages/core/__tests__/option.test.ts
  packages/core/src/option.ts
Due: core

conditional mordern entry for Node v15+
  packages/apollo-client-utils/package.json
  packages/core/package.json
  packages/graphql-utils/package.json
  packages/react-utils/package.json
  packages/urql-utils/package.json
Due: core, graphql-utils

fix ci
  .github/workflows/integration.yml
  .yarnrc.yml
Due: none

fix codecov config
  codecov.yml
Due: none

chore
  packages/react-utils/__tests__/cache.test.tsx
Due: none

fix lint
  .eslintrc.json
  .pnp.cjs
  .yarn/cache/eslint-npm-7.25.0-a76b30c814-8d418fccd0.zip
  .yarn/cache/react-npm-17.0.2-99ba37d931-b254cc17ce.zip
  package.json
  packages/apollo-client-utils/__tests__/result3.test.tsx
  packages/apollo-client-utils/src/result3.ts
  packages/apollo-client-utils/src/result4.ts
  packages/apollo-client-utils/src/result5.ts
  packages/core/src/common.ts
  packages/core/src/tuple.ts
  packages/eslint-plugin/configs/auto.js
  packages/eslint-plugin/configs/base.js
  packages/eslint-plugin/configs/react.js
  packages/react-utils/__tests__/rendering.test.tsx
  packages/urql-utils/__tests__/result3.test.tsx
  packages/urql-utils/__tests__/result4.test.tsx
  packages/urql-utils/__tests__/result5.test.tsx
  yarn.lock
Due: core

add trailing slashes to flags
  codecov.yml
Due: none

cover more
  packages/core/__tests__/common.test.ts
Due: core

add assert util to core/common
  packages/core/__tests__/common.test.ts
  packages/core/src/common.ts
Due: core

fix codecov
  codecov.yml
Due: none

chore: remove unused file
  .taprc
Due: none

ignore coverage from apollo-client-utils
  jest.config.ts
Due: none

ci: build deps before checking
  .github/workflows/integration.yml
Due: none

Path conditions:
  core: any of: packages/core, but not: .yarn
  graphql-utils: any of: packages/graphql-utils, but not: .yarn
  jest-utils: any of: packages/jest-utils, but not: .yarn
