Repository cometkim/cometjs: changes, and which Codecov flags are due for each by the changed paths.
All: core, graphql-utils, react-utils, urql-utils

archive apollo-client-utils package
  .yarn/versions/ec262f15.yml
  packages/archive/apollo-client-utils/README.md
Due: none

ignore type errors from archived packages
  packages/archive/apollo-client-utils/jest.config.ts
  tsconfig.json
Due: none

ci: fix base branch
  .github/workflows/integration.yml
Due: none

fix workspace package locators
  package.json
  packages/graphql-utils/package.json
  packages/react-utils/package.json
  packages/urql-utils/package.json
Due: graphql-utils, react-utils, urql-utils

core: Remove Awaited<Promise>
  .changeset/eleven-suits-care.md
  packages/core/__tests__/common.test-d.ts
  packages/core/package.json
  packages/core/src/common.ts
Due: core

core: fix expectEquals type assertion
  .changeset/smart-lemons-roll.md
  packages/core/src/common.ts
Due: core

update docs comments
  packages/core/src/tuple.ts
Due: core

core: update docs comments on Fn utils
  .changeset/hip-meals-look.md
  packages/core/src/function.ts
Due: core

core: added a type util to infer domain of a fn
  .changeset/ninety-parrots-wonder.md
  packages/core/src/function.ts
Due: core

added type-level tests for function utils
  packages/core/__tests__/function.test-d.ts
Due: core

core: change default error type for Result to unknown
  .changeset/wise-meals-tickle.md
  packages/core/src/result.ts
Due: core

rename Fn.MergeMap to Fn.MergeRange
  .changeset/flat-apples-give.md
  packages/core/__tests__/function.test-d.ts
  packages/core/src/function.ts
  packages/graphql-utils/src/abstract.ts
Due: core, graphql-utils

setup release workflow
  .github/workflows/release.yml
Due: none

ci: skip unnecessary step
  .github/workflows/integration.yml
Due: none

fix ci
  .github/workflows/integration.yml
Due: none

fix codecov
  .github/workflows/integration.yml
  codecov.yml
Due: none

add lcov data
  vitest.config.ts
Due: none

ignore vendored files
  codecov.yml
  vitest.config.ts
Due: none

dedupe dependencies
  .pnp.cjs
  .yarn/cache/@babel-runtime-npm-7.12.5-b3edb8ee8e-64964a0fd1.zip
  .yarn/cache/ansi-regex-npm-5.0.0-9c076068d9-b1bb4e992a.zip
  .yarn/cache/array-includes-npm-3.1.2-2210d62bda-5d87b89bce.zip
  .yarn/cache/debug-npm-4.3.2-f0148b6afe-820ea160e2.zip
  .yarn/cache/es-abstract-npm-1.18.0-next.1-12dd4b4b73-4797f1f6c8.zip
  .yarn/cache/eslint-visitor-keys-npm-2.0.0-5c9523822c-e07e9863fb.zip
  .yarn/cache/estraverse-npm-5.2.0-b2e8e36350-ec11b70d94.zip
  .yarn/cache/get-intrinsic-npm-1.0.2-e224a79528-bed41c7426.zip
  .yarn/cache/glob-npm-7.1.6-1ce3a5189a-351d549dd9.zip
  .yarn/cache/globals-npm-13.7.0-fda65f740c-27433ceaf5.zip
  .yarn/cache/graceful-fs-npm-4.2.4-734467635f-9d58c444eb.zip
  .yarn/cache/has-symbols-npm-1.0.1-b783bc25ec-4f09be6682.zip
  .yarn/cache/is-callable-npm-1.2.2-075940758b-2bbf65bd5d.zip
  .yarn/cache/is-core-module-npm-2.2.0-497065e3b0-61e2aff4a7.zip
  .yarn/cache/is-glob-npm-4.0.1-341760116f-84627cad11.zip
  .yarn/cache/is-negative-zero-npm-2.0.1-d8f3dbcfe1-a46f2e0cb5.zip
  .yarn/cache/is-regex-npm-1.1.1-6f4125c841-af1b307612.zip
  .yarn/cache/is-string-npm-1.0.5-782e9359f5-68d77a991f.zip
  .yarn/cache/is-symbol-npm-1.0.3-6bebca15dc-c6d54bd012.zip
  .yarn/cache/jsx-ast-utils-npm-3.2.0-c3558dbd96-9f695c4802.zip
  .yarn/cache/micromatch-npm-4.0.2-f059c00e51-39590a96d9.zip
  .yarn/cache/minimatch-npm-3.0.4-6e76f51c23-66ac295f8a.zip
  .yarn/cache/object-inspect-npm-1.9.0-75d8ab6cd7-715d2ef5be.zip
  .yarn/cache/parse-json-npm-5.1.0-a83e3ab0f2-0c0c299347.zip
  .yarn/cache/path-parse-npm-1.0.6-4a4c90546c-962a85dd38.zip
  .yarn/cache/picomatch-npm-2.2.2-1ce736a913-897a589f94.zip
  .yarn/cache/resolve-npm-1.20.0-1bc5878aa9-40cf70b2cd.zip
  .yarn/cache/resolve-patch-b4a69197d3-a0dd7d16a8.zip
  .yarn/cache/signal-exit-npm-3.0.3-5a2d797648-f0169d3f12.zip
  .yarn/cache/string-width-npm-4.2.0-c4a2a66200-ee2c68df9a.zip
  .yarn/cache/string.prototype.trimend-npm-1.0.3-c0c24507b7-6bff84b939.zip
  .yarn/cache/string.prototype.trimstart-npm-1.0.3-dcb692d4d7-46c49a70d9.zip
  .yarn/cache/strip-ansi-npm-6.0.0-904613e9eb-04c3239ede.zip
  yarn.lock
Due: none

update LICENSE
  LICENSE
Due: none

new package: relay-utils
  .pnp.cjs
  .yarn/cache/@urlpack-base-codec-npm-1.1.0-c7601ee19a-5319173de4.zip
  .yarn/cache/@urlpack-base58-npm-1.1.0-5bf02a9fda-55b598ae24.zip
  .yarn/cache/@urlpack-json-npm-1.1.0-c5931ec83b-025070435c.zip
  .yarn/cache/@urlpack-msgpack-npm-1.1.0-f0bea37b0e-d685e44153.zip
  .yarn/cache/esbuild-darwin-64-npm-0.14.25-803a15c4ae-8.zip
  .yarn/cache/fsevents-patch-3340e2eb10-8.zip
  packages/relay-utils/.gitignore
  packages/relay-utils/README.md
  packages/relay-utils/__tests__/globalID.test.ts
  packages/relay-utils/package.json
  packages/relay-utils/src/globalID.ts
  packages/relay-utils/src/index.ts
  packages/relay-utils/tsconfig.json
  yarn.lock
Due: none

relay-utils: Use base58 to pack id
  .changeset/large-pants-press.md
  .pnp.cjs
  packages/relay-utils/package.json
  packages/relay-utils/src/globalID.ts
  yarn.lock
Due: none

add helpers for Option * GraphQL abstract
  .changeset/thick-ears-drop.md
  packages/graphql-utils/__tests__/abstract.test-d.ts
  packages/graphql-utils/__tests__/abstract.test.ts
  packages/graphql-utils/src/abstract.ts
Due: graphql-utils

add React 18 to peerDeps
  .changeset/moody-cats-argue.md
  packages/react-utils/package.json
  yarn.lock
Due: react-utils

fix lint rule for typescript
  .changeset/metal-yaks-applaud.md
  packages/eslint-plugin/configs/typescript.js
  packages/graphql-utils/__tests__/abstract.test-d.ts
  packages/graphql-utils/__tests__/abstract.test.ts
  packages/graphql-utils/src/abstract.ts
Due: graphql-utils

ignore some lint issues
  packages/graphql-utils/src/abstract.ts
Due: graphql-utils

eslint-plugin: add config for testing
  .changeset/lovely-balloons-bathe.md
  packages/eslint-plugin/configs/auto.js
  packages/eslint-plugin/configs/test.js
  packages/eslint-plugin/index.js
Due: none

packed missing dts files
  .changeset/four-pears-melt.md
  packages/core/package.json
  packages/graphql-utils/package.json
  packages/react-utils/package.json
  packages/relay-utils/package.json
  packages/urql-utils/package.json
Due: core, graphql-utils, react-utils, urql-utils

fix types entry
  .changeset/neat-bikes-cough.md
  packages/core/package.json
  packages/graphql-utils/package.json
  packages/react-utils/package.json
  packages/relay-utils/package.json
  packages/urql-utils/package.json
Due: core, graphql-utils, react-utils, urql-utils

Update README.md
  README.md
Due: none

core: added EmptyObject and AnyObject utility types
  .changeset/fair-seahorses-pump.md
  packages/core/src/common.ts
Due: core

core: added utility types for JSON values
  .changeset/stupid-crabs-punch.md
  packages/core/src/index.ts
  packages/core/src/json.ts
Due: core

added a cache for MacOS
  .yarn/cache/esbuild-darwin-arm64-npm-0.14.25-d9fcb11903-8.zip
Due: none

Path conditions:
  core: any of: packages/core/, but not: .yarn, __mock__
  graphql-utils: any of: packages/graphql-utils/, but not: .yarn, __mock__
  react-utils: any of: packages/react-utils/, but not: .yarn, __mock__
  urql-utils: any of: packages/urql-utils/, but not: .yarn, __mock__
