Repository cometkim/cometjs: changes, and which Codecov flags are due for each by the changed paths.
All: core, graphql-utils, jest-utils, react-utils, apollo-client-utils, urql-utils

codecov.yml:

flags:
  core:
    paths:
      - packages/core/
    carryforward: true

  graphql-utils:
    paths:
      - packages/graphql-utils/
    carryforward: true

  jest-utils:
    paths:
      - packages/jest-utils/
    carryforward: true

  react-utils:
    paths:
      - packages/react-utils/
    carryforward: true

  apollo-client-utils:
    paths:
      - packages/apollo-client-utils/
    carryforward: true

  urql-utils:
    paths:
      - packages/urql-utils/
    carryforward: true

coverage:
  status:
    project:
      default: off

      core:
        target: 100%
        flags:
          - core

      graphql-utils:
        target: 100%
        flags:
          - graphql-utils

      jest-utils:
        target: 100%
        flags:
          - jest-utils

      react-utils:
        target: 100%
        flags:
          - react-utils

      # Since I have no change to test properly, disable coverage reporting
      # apollo-client-utils:
      #   target: "100%"
      #   flags:
      #     - apollo-client-utils

      "@cometjs/urql-utils":
        target: 100%
        flags:
          - urql-utils

ignore:
  - .yarn
  - __mock__

fix ts error
  packages/react-utils/__tests__/rendering.test.tsx
  packages/urql-utils/__tests__/result3.test.tsx
  packages/urql-utils/__tests__/result4.test.tsx
  packages/urql-utils/__tests__/result5.test.tsx
Due: react-utils, urql-utils

ci: build deps before checking (#15)
  .github/workflows/integration.yml
  packages/react-utils/__tests__/rendering.test.tsx
  packages/urql-utils/__tests__/result3.test.tsx
  packages/urql-utils/__tests__/result4.test.tsx
  packages/urql-utils/__tests__/result5.test.tsx
Due: react-utils, urql-utils

ignore coverage from apollo-client-utils (#14)
  jest.config.ts
Due: none

chore: remove unused file (#13)
  .taprc
Due: none

chore: do not use master ref
  .yarnrc.yml
Due: none

release: v1.0.0
  .yarn/versions/ec262f15.yml
  packages/apollo-client-utils/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/graphql-utils/package.json
  packages/jest-utils/package.json
  packages/react-utils/package.json
  packages/urql-utils/package.json
Due: core, graphql-utils, jest-utils, react-utils, apollo-client-utils, urql-utils

Update README
  README.md
  packages/apollo-client-utils/README.md
Due: apollo-client-utils

release v1.0.0 (#16)
  .yarn/versions/ec262f15.yml
  README.md
  packages/apollo-client-utils/README.md
  packages/apollo-client-utils/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/graphql-utils/package.json
  packages/jest-utils/package.json
  packages/react-utils/package.json
  packages/urql-utils/package.json
Due: core, graphql-utils, jest-utils, react-utils, apollo-client-utils, urql-utils

chore: upgrade berry
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-2.4.1.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
Due: none

feat(core): add Awaited<T>
  packages/core/__tests__/common.test-d.ts
  packages/core/src/common.ts
Due: core

minor
  .yarn/versions/ec262f15.yml
Due: none

feat(core): add Awaited<T> (#18)
  .yarn/versions/ec262f15.yml
  packages/core/__tests__/common.test-d.ts
  packages/core/src/common.ts
Due: core

chore: upgrade pnpify
  .pnp.js
  .yarn/cache/@yarnpkg-core-npm-3.0.0-rc.1-3db1168130-72fe15f983.zip
  .yarn/cache/@yarnpkg-core-npm-3.0.0-rc.2-9d35d08eb4-e3a522d480.zip
  .yarn/cache/@yarnpkg-fslib-npm-2.5.0-rc.1-de8fe8c007-8da297ff68.zip
  .yarn/cache/@yarnpkg-fslib-npm-2.5.0-rc.2-9c1a3f9b92-dce861a3cd.zip
  .yarn/cache/@yarnpkg-parsers-npm-2.3.1-rc.1-51c47c5c3c-34f373005a.zip
  .yarn/cache/@yarnpkg-parsers-npm-2.3.1-rc.2-dbd81fb0f6-079a7a5233.zip
  .yarn/cache/@yarnpkg-pnp-npm-3.0.0-rc.1-f29b3bb242-e7596ad8b1.zip
  .yarn/cache/@yarnpkg-pnp-npm-3.0.0-rc.2-13fe0fe9f3-7a5802e1cd.zip
  .yarn/cache/@yarnpkg-pnpify-npm-3.0.0-rc.2-512cd55e8b-9357cb6bed.zip
  .yarn/cache/@yarnpkg-pnpify-npm-3.0.0-rc.3-74c099ff54-e478075a19.zip
  .yarn/cache/@yarnpkg-shell-npm-3.0.0-rc.1-01010c27f0-00f3d9c16d.zip
  .yarn/cache/@yarnpkg-shell-npm-3.0.0-rc.2-017f68ab59-06d16e8e2b.zip
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/typescript.js
  package.json
  yarn.lock
Due: none

chore: upgrade pnpify (#19)
  .pnp.js
  .yarn/cache/@yarnpkg-core-npm-3.0.0-rc.1-3db1168130-72fe15f983.zip
  .yarn/cache/@yarnpkg-core-npm-3.0.0-rc.2-9d35d08eb4-e3a522d480.zip
  .yarn/cache/@yarnpkg-fslib-npm-2.5.0-rc.1-de8fe8c007-8da297ff68.zip
  .yarn/cache/@yarnpkg-fslib-npm-2.5.0-rc.2-9c1a3f9b92-dce861a3cd.zip
  .yarn/cache/@yarnpkg-parsers-npm-2.3.1-rc.1-51c47c5c3c-34f373005a.zip
  .yarn/cache/@yarnpkg-parsers-npm-2.3.1-rc.2-dbd81fb0f6-079a7a5233.zip
  .yarn/cache/@yarnpkg-pnp-npm-3.0.0-rc.1-f29b3bb242-e7596ad8b1.zip
  .yarn/cache/@yarnpkg-pnp-npm-3.0.0-rc.2-13fe0fe9f3-7a5802e1cd.zip
  .yarn/cache/@yarnpkg-pnpify-npm-3.0.0-rc.2-512cd55e8b-9357cb6bed.zip
  .yarn/cache/@yarnpkg-pnpify-npm-3.0.0-rc.3-74c099ff54-e478075a19.zip
  .yarn/cache/@yarnpkg-shell-npm-3.0.0-rc.1-01010c27f0-00f3d9c16d.zip
  .yarn/cache/@yarnpkg-shell-npm-3.0.0-rc.2-017f68ab59-06d16e8e2b.zip
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/typescript.js
  package.json
  yarn.lock
Due: none

feat(core): Add Result<Ok, Err> type and utility
  packages/core/__tests__/result.test.ts
  packages/core/src/index.ts
  packages/core/src/result.ts
Due: core

feat(core): add Result<Ok, Err> type and utility (#20)
  packages/core/__tests__/result.test.ts
  packages/core/src/index.ts
  packages/core/src/result.ts
Due: core

release packages
  .yarn/versions/ec262f15.yml
  packages/core/package.json
Due: core

feat(core): Add Result.ofPromise utility
  packages/core/__tests__/result.test.ts
  packages/core/src/result.ts
Due: core

simplified type
  packages/core/src/result.ts
Due: core

version
  .yarn/versions/ec262f15.yml
Due: none

feat(core): Add Result.ofPromise utility (#22)
  .yarn/versions/ec262f15.yml
  packages/core/__tests__/result.test.ts
  packages/core/src/result.ts
Due: core

release packages
  .yarn/versions/ec262f15.yml
  packages/apollo-client-utils/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/graphql-utils/package.json
  packages/jest-utils/package.json
  packages/react-utils/package.json
  packages/urql-utils/package.json
Due: core, graphql-utils, jest-utils, react-utils, apollo-client-utils, urql-utils

chore(core): fix typedef for Result.map to auto infer exist err
  packages/core/src/result.ts
Due: core

chore(core): fix typedef for Result.map to auto infer exist err (#23)
  .yarn/versions/ec262f15.yml
  packages/core/src/result.ts
Due: core

chore: fix typo in editorconfig
  .editorconfig
Due: none

yarn set version berry (latest)
  .yarn/releases/yarn-2.4.1.cjs
  .yarn/releases/yarn-3.0.1.cjs
  .yarnrc.yml
Due: none

yarn dlx @yarnpkg/sdks vscode vim
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
Due: none

upgrade version plugin
  .yarn/plugins/@yarnpkg/plugin-version.cjs
Due: none

upgrade workspace-tools plugin
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
Due: none

Update README.md
  README.md
Due: none
